---
title: A Step by Step aproach to business growth
description: Only by steady continuous improvement can you grow and sustain a business
layout: 
hero_image: https://lh3.googleusercontent.com/f81XKtQN6Qi6i8u6eH2Y8RaAebqBxNOELdwRmq1B7LWbT4SNnGPUXtKJDP-Ktrk7ORoUCon6zpIMThfYLz0=w1200-h500-c-rj-e30
old-hero_image: https://lh3.googleusercontent.com/-sFRls0K2Btg/WqKnMNsDxnI/AAAAAAAAVf4/jkAmmGLz38oF1yppNki8Zl4x_xIi1EZxQCJoC/s0-rj-l70-e90/bg-masthead.jpg
---
{% include head.html%}
  <body id="top">

{% include mainnav.html%}

    <!-- Masthead -->

      <div class="hero-box" style="xbackground-image: url({{page.hero_image}});">
        <div class="hero-text">
          <h1 class="w3-xxlarge">Internet Marketing Frustration? <br/> Want better results?</h1> 
          <!--<span class="w3-xlarge">End your frustration. Get an overview of what you could be doing.</span><br> 
          <input type="email" class="form-control form-control-lg" placeholder="your email" />
          <button type="submit" class="fp-button w3-button editable">Send me the overview</button> -->
        </div>
      </div>
      <div class="w3-content" style="max-width:1400px">
          <div class="w3-row-padding" style="margin:0 -16px">
            <p class="intro">What to do when you are struggling to get the results you desire, or were promised by your 'Internet Experts'. 
              You can wait patiently for the digital deities to perform a miracle. <!--You could give up and move on to doing what you were doing 
              before the Internet.--> You could write off your investment and start afresh with a new set of experts. Or you could <strong>get a grip of the situation</strong>. 
              <br/>By asking the right questions you can reveal the important answers which will move you towards achieving your business goals. Adopting a methodical 
              approach based on undeniable data will allow you to  pluck victory from the jaws of defeat. Get in touch to learn more about 
              rescueing your floundering project.</p>
          </div>
          <div class="w3-row-padding" style="margin:0 -16px">

              <div class="w3-col m6 l6">
                  <div class="w3-card-2 w3-container w3-yellow w3-margin-bottom benefit-card"><h3>Measure</h3><p>Know what works and what is holding you back</p><a href="#">learn more</a></div>
                </div>
              <div class="w3-col m6 l6">
                  <div class="w3-card w3-container w3-margin-bottom benefit-card"><h3>Optimise</h3><p>Get found when your audience searches - reduce harmful visitor bounce</p><a href="#">learn more</a></div>
                </div>

                  <div class="w3-col m6 l6">
                      <div class="w3-card-2 w3-container  w3-margin-bottom benefit-card"><h3>Always Improving</h3><p>Positive results based on real data and visitor feedback</p><a href="#">learn more</a></div>
                    </div>

              <div class="w3-col m6 l6;position: relative;">
                <div class="w3-card-4 w3-container w3-yellow w3-margin-bottom benefit-card"><h3>Visitors on Demand</h3><p>Drive visitors back to your website whenever you like. Target your offers to specific receptive groups within your broader audience.</p><a href="#">learn more</a></div>
              </div>

              </div>


          <!-- About Section -->
          <div class="w3-row w3-padding-64 flexy" id="about">

              <div id="" class="w3-col m6 w3-padding-large order1">
                  <h2 class="w3-center">No more guesswork or mumbo jumbo.</h2><br>
                  <p>Let your audience show you the way. By observing and listening to your audience and solving their problems you will see your audience grow, your costs fall and your sales, subscriptions or donations rise.
                  </p>         
              </div>
              <div id="" class="w3-col m6 w3-padding-large order2" style="min-height:400px;background-image: url('https://lh3.googleusercontent.com/-TMoy58L9HBU/WqKclhkh45I/AAAAAAAAVds/yvoDpLwyUAwpYl3Q-HWX2aSynk58SBxdgCJoC/w568-h400-p-rj-e30/data.png');background-size: cover;">             
              </div>

          </div>
        

        
          <!-- About Section -->
          <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large" style="min-height:400px;background-image: url('https://lh3.googleusercontent.com/DgoRxzMJk34NimYNM1CvaqPSOLKzxYJGYtTKT2pGGDs4VDzBm8x92TIHfyXYAxIEhYU89SzUOcQiKTIAVvM=w360-h240-rj-e30');background-size: cover;">
             
            </div>
        
            <div class="w3-col m6 w3-padding-large">
              <h2 class="w3-center">Solid foundations Reliable &amp; Affordable</h2><br>
        
              <p>The right tools are available to all. Learn how to use them and you w
        </p>
        
            </div>
          </div>

    <!-- Testimonials 
    <section class="testimonials text-center bg-light">
      <div class="container"> -->
        <h2 class="mb-5 editable">What people are saying...</h2>
        <div class="w3-row">
          <div class="w3-col m4 l4">
            <div class="w3-container w3-center">
              <img class="w3-circle" src="https://lh3.googleusercontent.com/qFVQ1YfTZ2bupX9-yR4BVHpnTc3Xff9VWc1vNlhfAu6vGgprtBQzUBwRISmwKVNOgzXIeNabQKGlSKRpb4w=w192-h192-p-rj-e30" alt="" />
              <h5 class="editable">Ellen Van den Broek.</h5>
              <p class="font-weight-light mb-0 editable">"Results are still getting better! Implementation was trouble free and now the data is our guide. Thanks so much guys!"</p>
            </div>
          </div>

          <div class="w3-col m4 l4">
            <div class="w3-container w3-center">
              <img class="w3-circle" src="https://lh3.googleusercontent.com/-cioeuf0G4eE/Vn2uEESKnrI/AAAAAAAAGz8/Scyucrse1d0/s192-rj-e30/Nick%2BSquare.jpg" alt="" />
              <h5 class="editable">Nick	S.</h5>
              <p class="font-weight-light mb-0 editable">
                "Talk to Dave and his team. We did and not only did enquiries increase but they are now higher quality. Our competitiors no longer feel so threatening."
              </p>
            </div>
          </div>
          <div class="w3-col m4 l4">
            <div class="w3-container w3-center">
              <img class="w3-circle" src="https://lh3.googleusercontent.com/-1L-U1kVSlhI/WqKlHf2XjXI/AAAAAAAAVfI/X9IIwltBS28i-dzVTlJRFKKRbvmnSADIgCJoC/w192-h192-n-rj-e30/steveavian.jpg" alt="" />
              <h5 class="editable">Steve A.</h5>
              <p class="font-weight-light mb-0 editable">
                "Speed Size Influence taught me how to win more business by aligning my digital marketing with my audience."
              </p>
            </div>
          </div>
         </div>
      <!--   </div>
    </section> -->

    <!-- Call to Action -->
    
    {% include footer.html%}
