<!-- navbar -->
<div class="w3-top">
        <div class="w3-bar themeblue w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="toggleNav()" title="Toggle Navigation Menu"><i class="hamburger"></i></a>
          <a href="{{ site.url }}{{site.baseurl}}" class="w3-bar-item w3-button w3-padding-large">Speed Size Influence</a>
          <div class="w3-right w3-hide-small">
                {% for nav in site.data.nav %}
                <a href="{{ site.url }}{{site.baseurl}}{{ nav.link }}" class="w3-bar-item w3-button  w3-padding-large w3-hide-small">{{ nav.name }}</a>
                {% endfor %}

        </div>
      </div>
      
      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            
                    {% for nav in site.data.nav %}
                    <a href="{{ site.url }}{{site.baseurl}}{{ nav.link }}" class="w3-bar-item w3-button  w3-padding-large">{{ nav.name }}</a>
                    {% endfor %}

      
</div>
</div>
      
