<!-- navbar -->
<div class="w3-top">
        <div class="w3-bar w3-black w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="{{ site.url }}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          <div class="w3-right w3-hide-small">
                {% for nav in site.data.nav %}
                <a href="{{ site.url }}{{ nav.link }}" class="w3-bar-item w3-button  w3-padding-large w3-hide-small">{{ nav.name }}</a>
                {% endfor %}

        </div>
      </div>
      
      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            
                    {% for nav in site.data.nav %}
                    <a href="{{ site.url }}{{ nav.link }}" class="w3-bar-item w3-button  w3-padding-large">{{ nav.name }}</a>
                    {% endfor %}

      
</div>
</div>
      
